.anyBox {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

body {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
}

#inputForm {
  padding: 15px 0px 15px 0px;
}

#inputFormBox {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0 0 6px #000;
  color: #fff;
  background: rgba(172, 163, 163, 0.952);
}

img {
  width: 98%;
  padding: 1%;
  float: left;
}

input {
  padding-top: 5px;
}

p {
  font-weight: bolder;
  font-size: 1rem;
}

@media only screen and (min-width: 321px) {
  img {
    width: 46%;
    padding: 1%;
    float: left;
  }
}

@media only screen and (min-width: 801px) {
  img {
    width: 23%;
    padding: 1%;
    float: left;
  }
}
