$primary_1: black;
$primary_2: white;
$primary_3: rgba(172, 163, 163, 0.952);


@mixin baseColors {
    background-color: $primary_1;
    color: $primary_2;
}

@mixin fullWidth {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.anyBox {
    @include fullWidth;
    padding: 10px;
}

body {
    @include baseColors;
    padding: 0px;
    margin: 0px;
}

// #inputFormBox{
//     position: -webkit-sticky;
//     position: sticky;
// }

#inputFormBox {
    @include fullWidth;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    box-shadow: 0 0 6px #000;
    color: #fff;
    background: $primary_3;
}

#inputForm {
    padding-top: 5px;
}

img {
    width: 46%;
    padding: 1%;
    float: left;
}
#outterSearchBox {
    width: 100%;
    padding: 2px 0px 2px 0px;
}

#searchBox {
    width: 100%;
}